body {
	background-image: url("../images/background.png");
	background-size: 80%; 
}

#banner {
	height: 300px; 
	margin-top: 200px; 
}

#content {
	color: white; 
	font-size: smaller; 
	text-align: center; 
	margin-top: 20px; 
}

@media only screen and (max-width: 1400px) {
	#banner {
	  height: 180px; 
	  margin-top: 20px; 
	}
  }  

#directions {
	background-color: black; 
	padding: 10px; 
	border: rgb(163, 111, 212); 
	border-width: 3px; 
	border-style: solid; 
	margin-top: 40px; 
}

#gems {
	margin-top: 15px;
	margin-bottom:26px;
}

.crystalImage {
	height: 111px;
	border: solid 1px;
	margin-left: 10px;
	border-radius: 15px;
	background-color: black; 
}

.crystalImage:firstchild {
	margin-left: 0px;
}

#totalScore {
	margin-top: 20px; 
	margin-bottom: 50px;
	border-radius: 60px;
}

#yts {
	background: #0886b8;
	display: inline;
	padding: 20px;
	border: solid 1px #ddd
}
	
.footer {
	text-align: center;
	border-top-color: rgb(183, 0, 255);
	border-top-style: solid;
	border-top-width: 10px;
	background-color: rgb(138, 138, 138); 
	padding: 10px; 
	clear: both; 
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 110%;
	}
